
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @CustomHelper.Image("https://thumbs.dreamstime.com/b/naturepic-clean-village-photo-tree-flower-forest-trail-mountain-nature-natural-pick-226860685.jpg", "hdjfjkjd")

        <br />

        @Html.ImgTag("https://thumbs.dreamstime.com/b/naturepic-clean-village-photo-tree-flower-forest-trail-mountain-nature-natural-pick-226860685.jpg", "hdjfjkjd")

    </div>

    

</body>
</html>
